#form {
    text-align: center;
    border: solid 2px black;
    padding-bottom: 20px;
    margin: auto;
}

#result {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    color: black;
    transition: 2s all linear;
}

#submit {
    width: 100px;
    margin-bottom: 20px;
}

.item {
    font-size: 20px;
    margin: 20px;
}

.postSubmit {
    font-size: 10px;
    color: red;
}

.animate {
    background-color: cornflowerblue;
}
